[submodule "llvm-strategizer"]
	path = llvm-strategizer
	url = https://github.com/rodrigo-ceccato/llvm-strategizer
[submodule "AutoStrategyzer"]
	path = AutoStrategyzer
	url = https://github.com/Darptolus/AutoStrategyzer
[submodule "benchmarks/minifmm-setup/minifmm"]
	path = benchmarks/minifmm-setup/minifmm
	url = https://github.com/UoB-HPC/minifmm.git
[submodule "benchmarks/xsbench-setup/XSBench"]
	path = benchmarks/xsbench-setup/XSBench
	url = https://github.com/ANL-CESAR/XSBench.git
[submodule "benchmarks/rsbench-setup/RSBench"]
	path = benchmarks/rsbench-setup/RSBench
	url = https://github.com/ANL-CESAR/RSBench.git
